body{margin:0;padding:0;font-family: sans-serif;}


.header-area{  background-image: url(images/header-bg.png);height:700px;width:100%;
    
        background-size: cover;}

        .half-width{width:40%;float: left;margin-left:5%;padding-left: 2%;}

        #banner-img{width:100%;height:`100%;margin-left: 5px;}






    .biography-area{background-image: url(images/biography-bg.png);height:700px;width:100;background-size: cover;}

               .half-width{width:40%;float: left;margin-left:5%;padding-left: 2%;}


                #dream-img{width:100%;height:100%;margin-right: 5px;}



a{background:purple;color:white;padding:10px;width:30px;height:50px;text-decoration: none;border-radius: 5px;}
a:hover{background: khaki;color:black}

.decoration-1{margin-top: 150px;text-align: center;}


.decoration-2{margin-top:220px;padding-right: 20px;}


h2{font-size: 30px;color:rgba(32, 31, 32, 0.507)}


h3{font-size: 15px;font-weight: 500;line-height: 1.5;color:rgb(153, 147, 147)}
h1{font-size: 30px;color:rgb(240, 13, 145)}
p{margin-left: 50px;margin-bottom:50px;font-size:15px;color:rgb(206, 195, 195)}
p:hover{color:black;}   





  

    



 


    .latest-workarea{height:700px;width:100%;background-image: url(images/latest-work-bg.png);
    background-size: cover;}


  .width-3{width:25%;float:left;margin-left:5%;padding-left: 2%;margin-top: 100px;}


  #speciality-1{width:100%;height:100%}
  #speciality-2{width:100%;height:100%;}
  #speciality-3{width:100%;height:100%;}
  #latest-work{font-size: 30px;text-align: center;color:rgb(48, 43, 43);padding-top: 60px;}

     label{font-size: 20px;color:orangered}
     ul{font-size: 15px;color:rgb(172, 125, 125);line-height: 1.5;font-weight: bolder;}






  .footer-area{height:700px;width:100%;background-image: url(images/footer-bg.png);}


  .client-review{height:440px;width:400px;
         margin-left: 450px;margin-bottom: 30px;
        text-align: center;padding-top: 55px;
        
        }
  .mailing{text-align: center; height:140px;width:450px;background:rgb(223, 20, 104); 

             color:white;padding:30px;margin-bottom: 10px;margin-left:450px;border-radius: 10px;}



  #copy-right{text-align: center;margin-top: 100px;}
  #name-decoration{font-size: 20px;color:rgb(24, 6, 6)}


  section{height:400px;width:100%}
